<!DOCTYPE html>
<html lang="en">


<!-- add-appointment24:07-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/ankitrouniyar5/jugjug_jio/master/public/img/logo.png">
    <title>JugJug Jio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fullcalendar.css') }}">

</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="{{url_for('dashboard')}}" class="logo">
					<img src="https://raw.githubusercontent.com/ankitrouniyar5/jugjug_jio/master/public/img/logo.png" width="35" height="35" alt=""> <span>Jug Jug Jio</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">

                <li class="nav-item dropdown has-arrow">
					<a  href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">

                        <span class="user-img">

							<img class="rounded-circle" src="{{ url_for('static',filename='img/user.jpg') }}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span></span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
						<a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>

						<a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="index.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="{{url_for('dashboard')}}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>

                        <li class="active">
                            <a href="{{url_for('appointments')}}"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                        </li>

                        <li>
                            <a href="{{url_for('chat')}}"><i class="fa fa-comments"></i> <span>Chat</span></a>
                        </li>
                            </ul>
                        </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add Appointment</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form method="POST">
                            {{form.hidden_tag()}}
                            {{form.csrt_token}}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.department.label(class="form-control-label")}}
                                        {% if form.department.errors %}
                            {{ form.department(class="select is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.department.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                    {% else %}
                        {{ form.department(class="select form-control") }}
                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.date.label(class="form-control-label")}}
                                        <div class="cal-icon">
                                            {{form.date(class="form-control datetimepicker")}}
                                            {{ form.hidden_tag() }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.time.label(class="form-control-label",for="input_starttime")}}
                                        <div class="time-icon" >
                                            {{form.time(type="time",id="inputMDEx1",class="form-control",placeholder="hh/mm/ss")}}
                                            {{ form.hidden_tag() }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                {{form.message.label(class="form-control-label")}}
                                {{form.message(cols="30",rows="4",class="form-control")}}
                            </div>
                            <div class="m-t-20 text-center">
                                {{ form.submit(class="btn btn-primary submit-btn") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
			
					
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.slimscroll.js')}}"></script>
    <script src="{{url_for('static',filename='js/chart.js')}}"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
	<script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.fullcalendar.js')}}"></script>
    <script src="{{url_for('static',filename='js/fullcalendar.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap-datetimepicker.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/moment.min.js')}}"></script>
	<script>
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'

                });
            });
     </script>
    <script>
            $('#input_starttime').pickatime({
            // 12 or 24 hour
            twelvehour: true,
            });
     </script>

</body>


<!-- add-appointment24:07-->
</html>
