<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/ankitrouniyar5/jugjug_jio/master/public/img/logo.png">
    <title>JugJug Jio</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="{{url_for('dashboard')}}" class="logo">
					<img src="https://raw.githubusercontent.com/ankitrouniyar5/jugjug_jio/master/public/img/logo.png" width="35" height="35" alt=""> <span>Jug Jug Jio</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
					<a  href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">

                        <span class="user-img">

							<img class="rounded-circle" src="{{ url_for('static',filename='img/user.jpg') }}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span></span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
						<a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>

						<a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
                    <a class="dropdown-item" href="edit-{{ url_for('profile') }}">Edit Profile</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>

                        <li>
                            <a href="{{url_for('appointments')}}"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                        </li>

                        <li>
                            <a href="{{url_for('chat')}}"><i class="fa fa-comments"></i> <span>Chat</span> </a>
                        </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Join The Chat</h4>
                    </div>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="card-box">
                        <h3 class="card-title">Enter Appointment ID</h3>
                        <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                {{ form.apid.label(class="focus-label") }}
                                                {% if form.apid.errors %}
                                                {{ form.apid(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.apid.errors %}
                                                  <span>{{ error }}</span>
                                                   {% endfor %}
                                                     </div>
                                                   {% else %}
                                                   {{ form.apid(class="form-control floating") }}
                                                {% endif %}
</div>
                                            </div>
                                        </div>

        </div>
                    </div>
                    <div class="text-center m-t-20">
                        {{ form.submit(class="btn btn-primary submit-btn") }}
                    </div>
                </form>
            </div>
        </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.slimscroll.js')}}"></script>
    <script src="{{url_for('static',filename='js/Chart.bundle.js')}}"></script>
    <script src="{{url_for('static',filename='js/chart.js')}}"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>

</body>



</html>