<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jug Jug Jio</title>
  <link rel = "icon" href="./public/img/logo.png">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Bootstrap cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- icons cdn -->
  <link rel="stylesheet" href="./public/css/icofont/icofont.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="./public/css/style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#date" ).datepicker();
  } );
  </script>

</head>

<body>
      <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-sm-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="info@jugjugjio.com">info@jugjugjio.com</a>
        <i class="icofont-phone"></i> +9922211000
        <i class="icofont-google-map"></i> Sector-16, Narela
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>
  

  <!-- Header -->
  <header id="header" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light">
    <h1 class="navbar-brand logo mr-auto"><a href="#">JugJug Jio</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="#appointment" class="appointment-btn">Make an Appointment</a></li>
    </ul>
</nav>
</header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="align-items-center">
    <div class="container">
      <h1>Welcome to JugJug Jio Online</h1>
      <h2>Meet doctors online at any time with us.</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->

<section id="sub-hero" class="align-item-center">
    <div class="container">
        <div class="row">
        <div class="col-4">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Why us?</h5>
              <h6 class="card-subtitle mb-2 text-muted">Doctors beyond borders</h6>
              <p class="card-text">As communication barriers are declining with the advent of telecommunications, doctors are now becoming more and more agile. With Telemedicine, you can now consult them from wherever you are, using your smart phone or computer screen.</p>
            </div>
        </div>
            
        </div>
    </div>
       
    </div>
</section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
            <div class="section-title">
                <h2 class="text-center">About</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
              </div>
  
          <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                <img src = "./public/img/about-us-pic.jpg">
            </div>
  
            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
              <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-atom"></i></div>
                <h4 class="title"><a href="">Dine Pad</a></h4>
                <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->

       <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <span>85</span>
                <p>Doctors</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
              <div class="count-box">
                <span>18</span>
                <p>Departments</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <span>8</span>
                <p>Research Labs</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <span>150</span>
                <p>Awards</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->

      
<section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2 class="text-center">Services</h2>
            
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="icofont-heart-beat"></i></div>
                <h4><a href="">Every solution</a></h4>
                     <p>Not sure where to go for health problems?
                        No matter where you are, getting better is at your fingertips
                        whether you’re in line for coffee or waiting for a flight.
                    </p>
                
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class="icofont-drug"></i></div>
              <h4><a href="">At every hour</a></h4>
            </p>Sickness doesn’t follow a 9-5 schedule and neither do we. We’ve got you 
            covered with our 24/7 online clinic. Visit us at any time for diagnosis and treatment.</p>
            
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="icofont-dna-alt-2"></i></div>
                <h4><a href="">For Everyone</a></h4>
                <p>We’ve 85 highly qualified doctors, making us one of the best. We give you quick, quality care that starting at Rs 499.</p>
             </div>
            </div>
  
  
          </div>
  
        </div>    
</section><!-- End Services Section -->      

<!--Speciality care section-->
    <section id = "speciality-care" class = "speciality-care">
        <div class="container">
  
            <div class="section-title">
              <h2 class="text-center">Commonly Treated Conditions</h2>
              
              <p class="text-center"> Jugjug Jio has specialists available for virtual visits on demand to treat a variety of issues related to these areas:</p>
            </div>
        </div>  
         
        <div class="specialities">
             
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Allergies (Seasonal)</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Asthma (For Adults Only)</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Conjunctivitis (Pink Eye)</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Common Cold</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">COVID-19 Screening</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Influenza (Flu)</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Minor Burns or Lacerations</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Painful Urination (For Adults Only)</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Rashes</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Painful Urination (For Adults Only)</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Upper Respiratory Illness</p>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <p class="text-center">Yeast Infections (For Adults Only)</p>
            </div>
        </div>
        </div>
        
          
    </section>
<!----End of speciality-care------->

<section id ="contact" class="contact">
    <div class="container">
        <div class="section-title">
          <h2 class="text-center mt-4">Contact</h2>
          
          <p class="text-center">Got queries? We are ready to help 24/7.</p>
        </div>
    </div>  
    <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Sector 16, Narela, DEL</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@jugjugjio.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <!-- <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
              <div class="text-center"><button type="submit" class="btn appointment-btn">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>    
</section>
<!-- End of contact section -->

<!-- Book an appointment section -->
<section id="appointment" class="appointment mt-4">
    <div class="container">

      <div class="section-title">
        <h2 class="text-center">Make an Appointment</h2>
        <p class="text-center">Why wait? Lets book an appointment now.</p>
    </div>

      <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
        <div class="form-row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 form-group">
            <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars" autocomplete="off">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group">
            <select name="department" id="department" class="form-control">
              <option value="">Select Department</option>
              <option value="Department 1">Department 1</option>
              <option value="Department 2">Department 2</option>
              <option value="Department 3">Department 3</option>
            </select>
            <div class="validate"></div>
          </div>
        </div>

        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
          <div class="validate"></div>
        </div>
        <!-- <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
        </div> -->
        <div class="text-center"><button type="submit" class="btn appointment-btn">Make an Appointment</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->

<section id="footer" class="footer">
    <div class="footer-top">
<div class="container footer-address mt-4">
    <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact mt-4">
            <h3>JugJug Jio</h3>
            <p>
              Sector-16<br>
              Narela<br>
              Delhi,India <br><br>
              <strong>Phone:</strong> 1231312312<br>
              <strong>Email:</strong> info@jugjugjio.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links mt-4">
            <h4>Useful Links</h4>
            <ul>
            <i class=""></i>
              <li><i class="icofont-caret-right"></i> <a href="#">Home</a></li>
              <li><i class="icofont-caret-right"></i> <a href="#">About us</a></li>
              <li><i class="icofont-caret-right"></i> <a href="#">Services</a></li>
              <li><i class="icofont-caret-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="icofont-caret-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
    </div>
   </div>
</div>
<div class="container-fluid d-md-flex py-4 bottom-footer">
    <div class="row">
    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        <p>&copy; Copyright <strong><span>JugJug Jio</span></strong>. All Rights Reserved</p>
      </div>
    </div>
  </div>
  </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  

<!-- Template Main JS File -->

  <script src="./public/js/main.js"></script>

</body>

</html>
