<!DOCTYPE html>
<html lang="en">


<!-- edit-profile23:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/ankitrouniyar5/jugjug_jio/master/public/img/logo.png">
    <title>Jug Jug Jio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="{{url_for('dashboard')}}" class="logo">
					<img src="https://raw.githubusercontent.com/ankitrouniyar5/jugjug_jio/master/public/img/logo.png" width="35" height="35" alt=""> <span>Jug Jug Jio</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">

                <li class="nav-item dropdown has-arrow">
					<a  href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">

                        <span class="user-img">

							<img class="rounded-circle" src="{{ url_for('static',filename='img/user.jpg') }}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span></span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
						<a class="dropdown-item" href="{{ url_for('edit_profile') }}">Edit Profile</a>

						<a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="index.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>

                        <li>
                            <a href="{{url_for('appointments')}}"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                        </li>

                        <li>
                            <a href="{{url_for('chat')}}"><i class="fa fa-comments"></i> <span>Chat</span> <span class="badge badge-pill bg-primary float-right">5</span></a>
                        </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

   
        <div class="page-wrapper">
            <div class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h3 class="alert alert-{{ category }}">{{ message }}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Edit Profile</h4>
                    </div>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="card-box">
                        <h3 class="card-title">Basic Informations</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap">
                                    <img class="inline-block" src="{{ image_file }}" alt="user">
                                    <div class="fileupload btn">
                                        <span class="btn-text">{{ form.picture.label() }}</span>

                    {{ form.picture(class="upload") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}


                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                {{ form.firstname.label(class="focus-label") }}
                                                {% if form.firstname.errors %}
                                                {{ form.firstname(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.firstname.errors %}
                                                  <span>{{ error }}</span>
                                                   {% endfor %}
                                                     </div>
                                                   {% else %}
                                                   {{ form.firstname(class="form-control floating") }}
                                                {% endif %}

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                {{ form.lastname.label(class="focus-label") }}
                                                {% if form.lastname.errors %}
                                                {{ form.lastname(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.lastname.errors %}
                                                  <span>{{ error }}</span>
                                                   {% endfor %}
                                                     </div>
                                                   {% else %}
                                                   {{ form.lastname(class="form-control floating") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                {{ form.dob.label(class="focus-label") }}
                                                {% if form.dob.errors %}
                                                {{ form.dob(class="form-control floating is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.dob.errors %}
                                                  <span>{{ error }}</span>
                                                   {% endfor %}
                                                     </div>
                                                   {% else %}
                                                <div class="cal-icon">
                                                    {{ form.dob(class="form-control floating ") }}
                                                </div>

                                                {% endif %}

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus select-focus">
                                                {{ form.department.label(class="focus-label") }}
                                                {% if form.department.errors %}
                                                {{ form.department(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.department.errors %}
                                                  <span>{{ error }}</span>
                                                   {% endfor %}
                                                     </div>
                                                   {% else %}
                                                   {{ form.department(class="form-control floating") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Contact Informations</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-focus">
                                     {{ form.address.label(class="focus-label") }}
                                                {% if form.address.errors %}
                                                {{ form.address(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.address.errors %}
                                                     <span>{{ error }}</span>
                                                     {% endfor %}
                                                 </div>
                                    {% else %}
                                    {{ form.address(class="form-control floating") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    {{ form.state.label(class="focus-label") }}
                                                {% if form.state.errors %}
                                                {{ form.state(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.state.errors %}
                                                     <span>{{ error }}</span>
                                                     {% endfor %}
                                                 </div>
                                    {% else %}
                                    {{ form.state(class="form-control floating") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    {{ form.country.label(class="focus-label") }}
                                                {% if form.country.errors %}
                                                {{ form.country(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.country.errors %}
                                                     <span>{{ error }}</span>
                                                     {% endfor %}
                                                 </div>
                                    {% else %}
                                    {{ form.country(class="form-control floating") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    {{ form.pincode.label(class="focus-label") }}
                                                {% if form.pincode.errors %}
                                                {{ form.pincode(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.pincode.errors %}
                                                     <span>{{ error }}</span>
                                                     {% endfor %}
                                                 </div>
                                    {% else %}
                                    {{ form.pincode(class="form-control floating") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    {{ form.phoneno.label(class="focus-label") }}
                                                {% if form.phoneno.errors %}
                                                {{ form.phoneno(class="form-control  is-invalid") }}
                                                 <div class="invalid-feedback">
                                                  {% for error in form.phoneno.errors %}
                                                     <span>{{ error }}</span>
                                                     {% endfor %}
                                                 </div>
                                    {% else %}
                                    {{ form.phoneno(class="form-control floating") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                   
                   
                
                    <div class="text-center m-t-20">
                        {{ form.submit(class="btn btn-primary submit-btn") }}
                    </div>
                </form>
            </div>

                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.slimscroll.js')}}"></script>
    <script src="{{url_for('static',filename='js/Chart.bundle.js')}}"></script>
	<script src="{{url_for('static',filename='js/select2.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap-datetimepicker.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/moment.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
</body>


<!-- edit-profile23:05-->
</html>