<div class="chat chat-right">
    <div class="chat-body">
        <div class="chat-bubble">
            <div class="chat-content">
                <p>{{user_msg}}</p>
                <!-- <span class="chat-time">8:35 am</span> -->
            </div>
        </div>
        <!-- <div class="chat-bubble">
            <div class="chat-content">
                <p>OK, my name is Limingqiang. I like singing, playing basketballand so on.</p>
                <span class="chat-time">8:42 am</span>
            </div>
        </div> -->
    </div>
</div>